@font-face {
    font-family: Gilroy_Bold;
    src: url("~@/assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: Gilroy_Medium;
    src: url("~@/assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: GTSectraDisplay_Bold;
    src: url("~@/assets/fonts/GTSectraDisplay-Bold.ttf");
}

@font-face {
    font-family: GTSectraDisplay_Regular;
    src: url("~@/assets/fonts/GTSectraDisplay-Regular.ttf");
}

@font-face {
    font-family: Heebo_Light;
    src: url("~@/assets/fonts/Heebo-Light.ttf");
}

@font-face {
    font-family: Heebo_Medium;
    src: url("~@/assets/fonts/Heebo-Medium.ttf");
}

@font-face {
    font-family: Heebo_Regular;
    src: url("~@/assets/fonts/Heebo-Regular.ttf");
}

