$green:#009999;
$red:#C9004D;
$black:#000000;
$white:#fff;
$gilroy-bold:Gilroy_Bold;
$gilroy-medium:Gilroy_Medium;
$GTSectraDisplay_Bold:GTSectraDisplay_Bold;
$GTSectraDisplay_Regular:GTSectraDisplay_Regular;
$Heebo_Light:Heebo_Light;
$Heebo_Medium:Heebo_Medium;
$Heebo_Regular:Heebo_Regular;
$small-device:500px;
$xxs:320px;
$xls:600px;
$xlsh:500px;
$xms:375px;
$md:780px;
$lg:1024px;
$xlg:1440px;
$xxlg:5000px;
$headervh:100vh;
$header-padding:10vw;
$divider:(4/3);
$xd-width:1920;
$xd-height:1080;
$em-base:16;
$body-padding:37.5px;

