@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

#home {
    min-width: 100vw;
    min-height: 100vh;
    padding: 3.125em;
    padding-left: 10vw;
    padding-right: 10vw;

    display: inline-block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    pointer-events: none;   
    @include mq($xlg){
        padding: 30px;
        padding-left: 30px  ;
        padding-right: 30px;
        padding-bottom: 0px;
    }
    @include mq($lg) {
        padding: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 0px;
    }

    // background-color: $black;
    .icons {
        min-height: calc(100vh - 6.250em);
        min-width: 60px;
        max-width: 60px;
        display: grid;
        place-items: center;
        align-content: space-between;
        @include mq( $xlg){
            min-height: calc(100vh - 6.250em);
            max-height: calc(100vh - 2em);
        }


        svg {
            display: block;
            align-self: center;

            path,
            circle {
                @include transition;
            }


            &:hover {

                path,
                circle {
                    stroke: $green;
                }
            }
        }

        .logo {
            @include mq( $lg) {
                svg {
                    width: 45px;
                }
            }
        }

        .media-icons {
            min-height: 50vh;
            display: grid;

            .social-icons {
                @include mq( $xlg) {
                    svg {
                        width: 30px;
                    }
                }
            }

        }
    }

    .body {
        max-width: calc(100vw - 115px);



        .demo-reel {
            position: absolute;
            left:0;
            width: 100%;
            display: grid;
            place-items: center;



            .demo-reel-text {
                font-family: $gilroy-medium;
                font-weight: 600;
                font-size: 1.125em;
                text-align: left;
                color: #fff;
                line-height: 1;
                margin-left: 20px;
                align-self: center;


                @include mq( $xlg) {
                    font-size: 0.775em;
                }
            }
        }

        .home-text {
            min-height: calc(100vh - 2em);
            display: grid;
            align-content: space-between;



            .welcom-text {
                font-family: $GTSectraDisplay_Bold;
                font-weight: bold;
                font-size: 5.563em;
                text-align: left;
                line-height: 1.2584269663;
                color: $white;
                text-transform: capitalize;

                @include mq($xlg) {
                    font-size: 4.563em;
                    line-height: 1.2;
                }
                @include mq( $lg) {
                    font-size: 3.563em;
                    line-height: 1.2;
                }

                span {
                    color: $green;
                }
            }

            .scroll-info {
                @include mq( $xlg) {
                    svg {
                        display: none;
                    }
                }
            }

            .text {
                font-family: $Heebo_Light;
                font-weight: 300;
                font-size: 1.063em;
                text-align: left;
                color: $white;
                text-transform: uppercase;
                margin-bottom: 20px;


                @include mq( $xlg) {
                    font-size: .763em;
                }
            }
        }
    }

    .menu {
        .menu-des {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 50px;

            @include mq( $xlg) {
                width: 35px;
            }


            .line-1,
            .line-2,
            .line-3 {
                width: 50px;
                height: 2px;
                border-radius: 20px;
                background-color: $white;
                margin-bottom: 15px;
                display: flex;

                @include mq( $xlg) {
                    margin-bottom: 10px;
                    width: 35px;

                    &:last-child {
                        margin-bottom: 5px;
                    }
                }

            }

            .line-2 {
                width: 25px;
                align-self: flex-end;

                @include mq( $xlg) {
                    width: (35px/2);
                }

            }
        }

        .menu-text-container {
            width: 100%;
            display: grid;
            place-items: center;
        }

        .text {
            font-family: $Heebo_Light;
            font-weight: 300;
            font-size: 1.063em;
            text-align: left;
            color: $white;
            text-transform: uppercase;
            margin-bottom: 20px;


            @include mq( $xlg) {
                font-size: .563em;
                align-self: flex-end;
            }
        }
    }
}